@font-face {
  font-family: 'Istok Web';
  src: url('../assets/fonts/IstokWeb-Regular.woff2') format('woff2');
  src: url('../assets/fonts/IstokWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lusitana';
  src: url('../assets/fonts/Lusitana.woff2') format('woff2');
  src: url('../assets/fonts/Lusitana.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
  src: url('../assets/fonts/OpenSans-Regular.woff') format('woff');
}
